<h1>Orders</h1>
<% @orders.each do |order|%>
    <p>Order Number:<%= order.id %> Ordered on:<%= order.created_at %></p>
    <% order.game_orders.each do |game_order|%>
        <p><%= game_order.product %> <%= game_order.quantity %> <%= game_order.price %></p>
    <% end %>

    <p>Total:<%= order.total %></p>
    <br>

<% end %>

<% session[:shopping_cart].each do | item_id | %>
    <%= Game.find_by_id(item_id) %>
<% end %>

