<h1 class="title">New Order</h1>

    <p><span class="title is-5">Order Number:</span> <span class="subtitle is-5"><%= @order.id %></span></p>
    <p><span class="title is-5">Ordered on:</span> <span class="subtitle is-5"><%= @order.created_at %></span></p>
    <br>
    <div class="columns is-multiline is-4">
            <div class="column is-one-fifth">
            </div>
            <div class="column is-one-half">
                <p class="title is-6">Name:</p>
            </div>
            <div class="column is-one-quarter">
                <p class="title is-6">Quantity</p>
            </div>
            <div class="column is-one-quarter">
                <div class="columns is-multiline is-2">
                    <div class="column is-one-half"></div>
                    <div class="column is-one-half"><p class="title is-6">Price:</p></div>
                </div>
            </div>
    </div>
    <% @order.game_orders.each do |game_order|%>
        <div class="columns is-multiline is-4">
            <div class="column is-one-fifth">
            </div>
            <div class="column is-one-half">
                <p><%= game_order.product %></p>
            </div>
            <div class="column is-one-quarter">
                <p><%= game_order.quantity %></p>
            </div>
            <div class="column is-one-quarter">
                <div class="columns is-multiline is-2">
                    <div class="column is-one-half"></div>
                    <div class="column is-one-half"><p><%= number_to_currency(game_order.price) %></p></div>
                </div>
            </div>
        </div>
    <% end %>

    <div class="columns is-multiline is-4">
            <div class="column is-one-fifth">
            </div>
            <div class="column is-one-half">
                <p></p>
            </div>
            <div class="column is-one-quarter">
                <p></p>
            </div>
            <div class="column is-one-quarter">
                <div class="columns is-multiline is-2">
                    <div class="column is-one-half"><p>Subtotal:</p></div>
                    <div class="column is-one-half"><p><%= number_to_currency(@order.total) %></p></div>
                </div>

                <div class="columns is-multiline is-2">
                    <div class="column is-one-half"><p>Taxes:</p></div>
                    <div class="column is-one-half"><p><%= number_to_currency(@order.tax_rate * @order.total) %></p></div>
                </div>

                <div class="columns is-multiline is-2">
                    <div class="column is-one-half"><p>Total:</p></div>
                    <div class="column is-one-half"><p><%= number_to_currency(@order.total + (@order.tax_rate * @order.total)) %></p></div>
                </div>
            </div>
    </div>
