<p id="notice"><%= notice %></p>

<h1 class="title">Games</h1>

<%= form_with(url: search_games_path, method: :get, local: true) do |form| %>
    <div class="field is-grouped mb-5">
        <div class="control is-expanded">
            <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search Games', size: "200") %>
        </div>
        <%= form.select :genre, Genre.all.collect {|g| [g.name, g.id]}, :include_blank => true, :multiple => "multiple" %>
        <%= form.select :platform, Platform.all.collect {|p| [p.name, p.id]}, :include_blank => true, :multiple => "multiple" %>
        <div class="control">
            <%= submit_tag("Search", class: "button is-primary") %>
        </div>
    </div>
<% end %>

<div class="columns is-multiline is-4">
  <%= render partial: 'games/game',
             collection: @games,
             locals: { show_link: true } %>
</div>

<%= paginate @games %>

<br>