

<% if user_signed_in? %>
    <h1 class="title"><%= current_user.name %>'s current cart.</h1>
<% end %>

<% count = 0 %>
<% session[:shopping_cart].each do |item| %>
    <div class="columns">
        <div class="column">
            <%= Game.find(item).name %>
        </div>
        <div class="column">
            <%= form_with url: edit_shopping_cart_path(item), method: :get do %>
                <% session[:quantity] = 1 %>
                <%= button_tag '▲' %>
            <% end %>
            <%= session[:shopping_cart_quantity][count] %>
            <%= form_with url: edit_shopping_cart_path(item), method: :get do %>
                <% session[:quantity] = -1 %>
                <%= button_tag '▼' %>
            <% end %>
        </div>
        <div class="column">
            <%= button_to "Remove from cart", shopping_cart_path(item) , method: :delete %>
        </div>
    </div>
    <br>
    <% count = count + 1 %>
<% end %>

<h1 class="title is-4">Subtotal: <%=  number_to_currency(session[:total]) %></h1>
<h1 class="subtitle is-4">Taxes: <%=  number_to_currency(session[:taxes]) %></h1>
<h1 class="title is-3">Total: <%=  number_to_currency(session[:total].to_d + session[:taxes].to_d) %></h1>

<%= button_to "Purchase", checkout_create_path , remote: true %>

<%=  session[:shopping_cart_quantity] %>
<%=  session[:shopping_cart].include?(session[:shopping_cart][0]) %>
<%=  session[:shopping_cart].include?(12) %>
<%=  session[:temp] %>
<%=  session[:quantity] %>
<%= current_user.province_id %>